a.button18 {
  display: inline-block;
  font-size: 12px;
  color: rgb(205,216,228);
  text-decoration: none;
  padding: .2em .8em;
  outline: none;
  border-right: 1px solid rgba(13,20,27,.5);
  border-top: 1px solid rgba(270,278,287,.01);
  background-color: rgb(64,73,82);
  background-image:
   radial-gradient(1px 60% at 0% 50%, rgba(255,255,255,.3), transparent),
   radial-gradient(1px 60% at 100% 50%, rgba(255,255,255,.3), transparent),
   linear-gradient(rgb(64,73,82), rgb(72,81,90));
}
a.button18:hover {
  background-image:
   radial-gradient(1px 60% at 0% 50%, rgba(255,255,255,.3), transparent),
   radial-gradient(1px 60% at 100% 50%, rgba(255,255,255,.3), transparent),
   linear-gradient(rgb(51,60,67), rgb(58,65,72));
}
a.button18:focus {
  color: rgb(245,247,250);
  border-top: 1px solid rgb(67,111,136);
  background-image:
   linear-gradient(rgb(46,95,122), rgb(36,68,92));
}
a.button18:focus:hover {
  border-top: 1px solid rgb(49,87,107);
  background-image:
   linear-gradient(rgb(33,77,98), rgb(29,57,77));
}

.animated {
  transition-property: background-color;
  transition-duration: 3s;
}


#agent_wrap, #offices_wrap
{
	margin-left:25px;
}

#cont4agents, #cont4offices, #cont4agreq
{
	/*width: 100%;*/
	display: table;
	border-spacing: 5px;
}

#cont4agreq
{
	width:900px;
}

#cont4agents
{
	margin-top: 50px;
}

#arequests_wrap, #alogs_wrap
{
	/*margin-top: 10px;*/
    margin-left: 25px;
}
.row_odd
{
	display: table-row;
	width: 100%;
}

.row_even
{
	display: table-row;
	width: 100%;
}

.head_table
{
	display: table-row;
	width: 100%;
}

.list_cell
{
	display: table-cell;
	
	/*border: 1px solid black;*/
}

.head_table .list_cell
{
	background-color: #EEEEEE;
}

.row_odd .list_cell, .row_odd .list_cell input[type="text"]
{
	background-color: #E0E0E0;
}

.row_even .list_cell, .row_even .list_cell input[type="text"]
{
	background-color: #F7F7F7;
}

#cont4agreq > .row_odd .list_cell:nth-child(1), #cont4agreq > .row_even .list_cell:nth-child(1), #cont4agreq > .row_head .list_cell:nth-child(1)
{
	width: 150px;
	text-align: right;
	padding-right:10px;
}

#cont4agreq > .row_odd .list_cell:nth-child(2), #cont4agreq > .row_even .list_cell:nth-child(2), #cont4agreq > .row_head .list_cell:nth-child(2)
{
	width: 100px;
	text-align: right;
	padding-right:10px;
}
#cont4agreq > .row_odd .list_cell:nth-child(5), #cont4agreq > .row_even .list_cell:nth-child(5), #cont4agreq > .row_head .list_cell:nth-child(5)
{
	width: 100px;
	text-align: right;
	padding-right:10px;
}

#cont4agreq > .row_odd .list_cell:nth-child(4), #cont4agreq > .row_even .list_cell:nth-child(4), #cont4agreq > .row_head .list_cell:nth-child(4)
{
	width: 100px;
	text-align: right;
	padding-right:10px;
}

#cont4agreq > .row_odd .list_cell:nth-child(6), #cont4agreq > .row_even .list_cell:nth-child(6), #cont4agreq > .row_head .list_cell:nth-child(6)
{
	width: 30px;
	text-align: right;
	padding-right:10px;
}



#add_worker_b, #add_office_b
{
	cursor:pointer;
}

#wrap{
		display: none;
		opacity: 0.8;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.5);
		z-index: 100;
		overflow: auto;
	}
	
.window, .window_ip{
	width: 500px;
	height: 400px;
	margin: 150px auto;
	display: none;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
}

#ip_values_wrap
{
	width: 80%;
	height: 80%;
	margin: 50px auto;
	overflow: auto;
}

.close{
/*	margin-left: 90%;*/
	position: absolute;
	right: 10px;
	/*margin-top: 4px;*/
	top: 10px;
	cursor: pointer;
}

#new_agent_wrap, #new_office_wrap
{
	width : 400px;
	/*height: 95%;*/
	border: 1px solid black;
	display: table;
	border-spacing: 5px;
}

.row_a
{
	display: table-row;
	width: 100%;
	
}
.row_a:nth-child(odd)
{
	background-color: #EEEEEE;
}
.row_a:nth-child(even)
{
	background-color: #E0E0E0;
}

.fname, .fval, .cval
{
	display: table-cell;
	/*border: 1px solid black;*/
}

.fname
{
	width: 100px;
	text-align: right;
	/*font-size: 80%;*/
}
.fval
{
	width: 300px;
	padding: 0 0 0 8px;
}

.cval
{
	width: 200px;
	background-color: #FFFFFF;
	text-align: center;
}

.fval input[type="text"], .fval input[type="password"], .fval select
{
	width: 90%;
	border: none;
}

.nwinp0
{
	background-color: #EEEEEE;
}

.nwinp1
{
	background-color: #E0E0E0;
}