#wrap{
		display: none;
		opacity: 0.8;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.5);
		z-index: 100;
		overflow: auto;
	}
	
.window{
	width: 500px;
	height: 400px;
	margin: 150px auto;
	display: none;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
}

.close{
/*	margin-left: 90%;*/
	position: absolute;
	right: 10px;
	/*margin-top: 4px;*/
	top: 10px;
	cursor: pointer;
}

#values_wrap
{
	width: 80%;
	height: 80%;
	margin: 50px auto;
	overflow: auto;
}

#cont4anketa
{
	display: table;
	border-spacing: 5px;
	width: 100%;
}

.av_val_sel
{
	width:95%;
}

.row_odd
{
	display: table-row;
	width: 100%;
}

.row_even
{
	display: table-row;
	width: 100%;
}
.row_block
{
	display: table-row;
	width: 100%;
	min-height: 21px;
}

.row_block .list_cell
{
	min-height: 21px;
	height: 21px;
}

.head_table
{
	display: table-row;
	width: 100%;
}

.list_cell
{
	display: table-cell;
	
	/*border: 1px solid black;*/
}

.head_table .list_cell
{
	background-color: #EEEEEE;
}

.row_odd .list_cell, .row_odd .list_cell input[type="text"]
{
	background-color: #E0E0E0;
}

.row_even .list_cell, .row_even .list_cell input[type="text"]
{
	background-color: #F7F7F7;
}

.row_block .list_cell, .row_block .list_cell input[type="text"]
{
	background-color: #999999;
}

.head_table .list_cell:nth-child(1), .row_odd .list_cell:nth-child(1), .row_even .list_cell:nth-child(1), .row_block .list_cell:nth-child(1),
.head_table .list_cell:nth-child(2), .row_odd .list_cell:nth-child(2), .row_even .list_cell:nth-child(2), .row_block .list_cell:nth-child(2),
.head_table .list_cell:nth-child(4), .row_odd .list_cell:nth-child(4), .row_even .list_cell:nth-child(4), .row_block .list_cell:nth-child(4)
{
	width: 50px;
}

.head_table .list_cell:nth-child(3), .row_odd .list_cell:nth-child(3), .row_even .list_cell:nth-child(3), .row_block .list_cell:nth-child(3),
.head_table .list_cell:nth-child(6), .row_odd .list_cell:nth-child(6), .row_even .list_cell:nth-child(6), .row_block .list_cell:nth-child(6),
.head_table .list_cell:nth-child(7), .row_odd .list_cell:nth-child(7), .row_even .list_cell:nth-child(7), .row_block .list_cell:nth-child(7),
.head_table .list_cell:nth-child(8), .row_odd .list_cell:nth-child(8), .row_even .list_cell:nth-child(8), .row_block .list_cell:nth-child(8)
{
	width: 25px;
	text-align: center;
}

.head_table .list_cell:nth-child(10), .row_odd .list_cell:nth-child(10), .row_even .list_cell:nth-child(10), .row_block .list_cell:nth-child(10),
.head_table .list_cell:nth-child(11), .row_odd .list_cell:nth-child(11), .row_even .list_cell:nth-child(11), .row_block .list_cell:nth-child(11),
.head_table .list_cell:nth-child(12), .row_odd .list_cell:nth-child(12), .row_even .list_cell:nth-child(12), .row_block .list_cell:nth-child(12),
.head_table .list_cell:nth-child(13), .row_odd .list_cell:nth-child(13), .row_even .list_cell:nth-child(13), .row_block .list_cell:nth-child(13)
{
	width: 65px;
	text-align: center;
}

.row_odd .list_cell input[type="text"], .row_even .list_cell input[type="text"], .row_block .list_cell input[type="text"]
{
	width: 90%;
	border: none;
}

.animated {
  transition-property: background-color;
  transition-duration: 3s;
}