
#header .search_div {position:absolute; float:left; left:40%; top:15px; width:400px;}
.search_div > input { width:300px; }

#list_table, #list_filter
{
	display: table;
	width: 100%;
}

.row_head
{
	display: table-row;
	width: 100%;
	height: 100%;
}
.row_odd
{
	display: table-row;
	width: 100%;
	height: 100%
}

.row_even
{
	display: table-row;
	width: 100%;
	height: 100%
}

.list_cell
{
	display: table-cell;
	vertical-align: middle;
	/*border: 1px solid black;*/
	height: 30px;
}

.list_cell > a {
     display: block; /* Ссылка как блочный элемент */
    /* text-align: center; /* Выравнивание по центру */
     height: 30px; /* Высота на весь слой */
	 line-height: 30px;
	 vertical-align: center;
     color: black; /* Цвет ссылки */
	 text-decoration: none;
    }

.row_head .list_cell
{
	line-height: 2em;
}

.row_odd .list_cell
{
	background-color: #FFFFFF;	
}

.row_even .list_cell
{
	/*background-color: #D0E4F5;*/
	background-color: #F0F0F0;
}

.row_odd .list_cell:nth-child(1), .row_even .list_cell:nth-child(1), .row_head .list_cell:nth-child(1)
{
	width: 200px;
	text-align: right;
	padding-right:10px;
}

.row_odd .list_cell:nth-child(3), .row_even .list_cell:nth-child(3), .row_head .list_cell:nth-child(3)
{
	width: 350px;
}
.row_odd .list_cell:nth-child(2), .row_even .list_cell:nth-child(2), .row_head .list_cell:nth-child(2)
{
	width: 70px;
}

.row_odd .list_cell:nth-child(4), .row_even .list_cell:nth-child(4), .row_head .list_cell:nth-child(4)
{
	width: 120px;
}

.row_odd:hover .list_cell
{
	background-color: #F8F8F8;
}

.row_even:hover .list_cell
{
	background-color: #F8F8F8;
}

.row_head input[type="text"]
{
	width: 90%;
	border: none;
	background-color: transparent;
}
