#header .search_div {position:absolute; float:left; left:450px; top:5px; width:400px;}
.search_div > input { width:200px; }

.sort_no {}
.sort_up 
{ 
	background:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiIGZpbGw9IiM2NTY1NjUiPjxwYXRoIGQ9Ik0wIDBoNHYyaC00ek0wIDNoNnYyaC02ek0wIDZoOHYyaC04eiIvPjwvc3ZnPgo=') no-repeat right 55%;
	/*background-position: 120% 50%;*/
}
.sort_d 
{ 
	background:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiIGZpbGw9IiM2NTY1NjUiPjxwYXRoIGQ9Ik0wIDZoNHYyaC00ek0wIDNoNnYyaC02ek0wIDBoOHYyaC04eiIvPjwvc3ZnPgo=') no-repeat right 55%;
	/*background-position: 120% 50%;*/
}

.tooltip {
      position: fixed;
      padding: 10px 20px;
      /* красивости... */
      
      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: left;
      font: italic 14px/1.3 arial, sans-serif;
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    }

#list_table, #list_filter
{
	display: table;
	width: 100%;
	font-size: 90%;
}

.row_head
{
	display: table-row;
	width: 100%;
	height: 100%;
}
.row_odd
{
	display: table-row;
	width: 100%;
	height: 100%
}

.row_even
{
	display: table-row;
	width: 100%;
	height: 100%
}

.list_cell
{
	display: table-cell;
	vertical-align: middle;
	/*border: 1px solid black;*/
	height: 30px;
}

.list_cell > a {
     display: block; /* Ссылка как блочный элемент */
    /* text-align: center; /* Выравнивание по центру */
     height: 30px; /* Высота на весь слой */
	 line-height: 30px;
	 vertical-align: center;
     color: black; /* Цвет ссылки */
	 text-decoration: none;
    }

.row_head .list_cell
{
	line-height: 2em;
}

.row_odd .list_cell
{
	background-color: #FFFFFF;	
}

.row_even .list_cell
{
	/*background-color: #D0E4F5;*/
	background-color: #F0F0F0;
}

.row_odd .list_cell:nth-child(1), .row_even .list_cell:nth-child(1), .row_head .list_cell:nth-child(1)
{
	width: 110px;
	text-align: right;
	padding-right:10px;
}

.row_odd .list_cell:nth-child(2), .row_even .list_cell:nth-child(2), .row_head .list_cell:nth-child(2)
{
	width: 65px;
}

.row_odd .list_cell:nth-child(3), .row_even .list_cell:nth-child(3), .row_head .list_cell:nth-child(3)
{
	width: 420px;
	font-size: 98%;
	letter-spacing: -0.3px;
}

.row_odd .list_cell:nth-child(4), .row_even .list_cell:nth-child(4), .row_head .list_cell:nth-child(4)
{
	width: 100px;
}

.row_odd .list_cell:nth-child(5), .row_even .list_cell:nth-child(5), .row_head .list_cell:nth-child(5)
{
	width: 120px;
}

.row_odd .list_cell:nth-child(6), .row_even .list_cell:nth-child(6), .row_head .list_cell:nth-child(6)
{
	width: 170px;
}

.row_odd .list_cell:nth-child(7), .row_even .list_cell:nth-child(7), .row_head .list_cell:nth-child(7)
{
	width: 215px;
}

.row_odd .list_cell:nth-child(8), .row_even .list_cell:nth-child(8), .row_head .list_cell:nth-child(8)
{
	width: 100px;
}

.row_odd .list_cell:nth-child(9), .row_even .list_cell:nth-child(9), .row_head .list_cell:nth-child(9)
{
	width: 130px;
}

.row_odd:hover .list_cell
{
	background-color: #F8F8F8;
}

.row_even:hover .list_cell
{
	background-color: #F8F8F8;
}

.row_head input[type="text"]
{
	width: 70%;
	border: none;
	background-color: transparent;
}

.std
{
	position: inerhit;
	float:left;
	text-align: left;
	top:0px;
	left:0px;
}

.bsms
{
	position: inerhit;
	float:right;
	text-align: right;
	top:0px;
	right:10px;
	margin-right:10px;
	padding-right:10px;
}

#itogo_forms
{
	position:fixed;
	bottom:0px;
	float:right;
	margin-right:100px;
}

#redcircle {
  width: 10em;
  height: 10em;
  border: 2px solid red;
  border-radius: 50%;
  overflow: hidden;
  background: mistyrose;
}

#greencircle {
  width: 10em;
  height: 10em;
  border: 2px solid green;
  border-radius: 50%;
  overflow: hidden;
  background: palegreen;
}