#list_table, #list_filter
{
	display: table;
	width: 100%;
	font-size: 90%;

    border-collapse: separate; /* Способ отображения границы */ 
    border-spacing: 2px 4px; /* Расстояние между ячейками */ 
}

.row_head
{
	display: table-row;
	width: 100%;
	height: 100%;
}
.row_odd
{
	display: table-row;
	width: 100%;
	height: 100%
}

.row_even
{
	display: table-row;
	width: 100%;
	height: 100%
}

.list_cell
{
	display: table-cell;
	vertical-align: middle;
	/*border: 1px solid black;*/
	height: 50px;
	width: 6.4%;
}

.list_cell > a {
     display: block; /* Ссылка как блочный элемент */
    /* text-align: center; /* Выравнивание по центру */
     height: 50px; /* Высота на весь слой */
	 line-height: 25px;
	 vertical-align: center;
     color: black; /* Цвет ссылки */
	 text-decoration: none;
    }

.row_head .list_cell
{
	line-height: 2em;
}

.row_odd .list_cell
{
	background-color: #FFFFFF;	
}

.row_even .list_cell
{
	/*background-color: #D0E4F5;*/
	background-color: #F0F0F0;
}
/*
.row_odd .list_cell:nth-child(1), .row_even .list_cell:nth-child(1), .row_head .list_cell:nth-child(1)
{
	width: 110px;
	text-align: right;
	padding-right:10px;
}

.row_odd .list_cell:nth-child(2), .row_even .list_cell:nth-child(2), .row_head .list_cell:nth-child(2)
{
	width: 65px;
}

.row_odd .list_cell:nth-child(3), .row_even .list_cell:nth-child(3), .row_head .list_cell:nth-child(3)
{
	width: 420px;
	font-size: 98%;
	letter-spacing: -0.3px;
}

.row_odd .list_cell:nth-child(4), .row_even .list_cell:nth-child(4), .row_head .list_cell:nth-child(4)
{
	width: 100px;
}

.row_odd .list_cell:nth-child(5), .row_even .list_cell:nth-child(5), .row_head .list_cell:nth-child(5)
{
	width: 120px;
}

.row_odd .list_cell:nth-child(6), .row_even .list_cell:nth-child(6), .row_head .list_cell:nth-child(6)
{
	width: 170px;
}

.row_odd .list_cell:nth-child(7), .row_even .list_cell:nth-child(7), .row_head .list_cell:nth-child(7)
{
	width: 215px;
}

.row_odd .list_cell:nth-child(8), .row_even .list_cell:nth-child(8), .row_head .list_cell:nth-child(8)
{
	width: 100px;
}

.row_odd .list_cell:nth-child(9), .row_even .list_cell:nth-child(9), .row_head .list_cell:nth-child(9)
{
	width: 130px;
}

.row_odd:hover .list_cell
{
	background-color: #F8F8F8;
}

.row_even:hover .list_cell
{
	background-color: #F8F8F8;
}

.row_head input[type="text"]
{
	width: 90%;
	border: none;
	background-color: transparent;
}*/
