#wrap_setl{
		display: none;
		opacity: 0.8;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.5);
		z-index: 100;
	}
	
.window_set{
	width: 80%;
	height: 80%;
	margin: auto;
	display: none;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	overflow: auto;
}	

.close{
/*	margin-left: 90%;*/
	position: absolute;
	right: 10px;
	/*margin-top: 4px;*/
	top: 10px;
	cursor: pointer;
}

.table
{
	display: table;
	width: 100%;
	border-spacing: 5px;
}

.row_t
{
	display: table-row;
	width: 100%;
	height: 100%;
	margin-top:50px;
}

.cell_t
{
	display: table-cell;
	vertical-align: middle;
	border: 1px solid black;
	height: 30px;
}

.row_t .cell_t:nth-child(1) { width: 25px; }
.row_t .cell_t:nth-child(2) { width: 100px; }
.row_t .cell_t:nth-child(3) { width: 200px; }

.tooltip {
      position: fixed;
      padding: 10px 20px;
      /* красивости... */
      
      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: left;
      font: italic 14px/1.3 arial, sans-serif;
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    }
	
.animated {
  transition-property: background-color;
  transition-duration: 3s;
}

.thead_sms, .tbody_sms {
	display: block;
}

.tbody_sms{
	overflow: auto;
  height: 400px;
}