#signal_table {
	width:100%;
	border: 1px solid black;
}

td {
	border: 1px solid black;
	margin: 5px;
	background-color:white;
}

.td_id {
	width:50px;
}

.td_date {
	width:100px;
}

.td_status {
	width:100px;
}