#offices_wrap, #staff_wrap
{
	margin-left:25px;
}

#cont4offices, #cont4staff
{
	/*width: 100%;*/
	display: table;
	border-spacing: 5px;
}

#cont4staff
{
	margin-top: 50px;
}

.animated {
  transition-property: background-color;
  transition-duration: 3s;
}

.row_odd
{
	display: table-row;
	width: 100%;
}

.row_even
{
	display: table-row;
	width: 100%;
}

.head_table
{
	display: table-row;
	width: 100%;
}

.list_cell
{
	display: table-cell;
	
	/*border: 1px solid black;*/
}

.head_table .list_cell
{
	background-color: #EEEEEE;
}

.row_odd .list_cell, .row_odd .list_cell input[type="text"]
{
	background-color: #E0E0E0;
}

.row_even .list_cell, .row_even .list_cell input[type="text"]
{
	background-color: #F7F7F7;
}

#add_worker_b, #add_office_b
{
	cursor:pointer;
}

#wrap{
		display: none;
		opacity: 0.8;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.5);
		z-index: 100;
		overflow: auto;
	}
	
.window, .window_ip{
	width: 500px;
	height: 400px;
	margin: 150px auto;
	display: none;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
}

#ip_values_wrap
{
	width: 80%;
	height: 80%;
	margin: 50px auto;
	overflow: auto;
}


/*

#scrol{
	border: 4px double black;
	overflow: auto;
	width: 95%;
	height: 90%;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}*/

.close{
/*	margin-left: 90%;*/
	position: absolute;
	right: 10px;
	/*margin-top: 4px;*/
	top: 10px;
	cursor: pointer;
}

#new_worker_wrap, #new_office_wrap
{
	width : 400px;
	/*height: 95%;*/
	border: 1px solid black;
	display: table;
	border-spacing: 5px;
}

.row_a
{
	display: table-row;
	width: 100%;
	
}
.row_a:nth-child(odd)
{
	background-color: #EEEEEE;
}
.row_a:nth-child(even)
{
	background-color: #E0E0E0;
}

.fname, .fval, .cval
{
	display: table-cell;
	/*border: 1px solid black;*/
}

.fname
{
	width: 100px;
	text-align: right;
	/*font-size: 80%;*/
}
.fval
{
	width: 300px;
	padding: 0 0 0 8px;
}

.cval
{
	width: 200px;
	background-color: #FFFFFF;
	text-align: center;
}

.fval input[type="text"], .fval input[type="password"], .fval select
{
	width: 90%;
	border: none;
}

.nwinp0
{
	background-color: #EEEEEE;
}

.nwinp1
{
	background-color: #E0E0E0;
}