#wrap_cal{
		display: none;
		opacity: 0.8;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.5);
		z-index: 100;
		overflow: auto;
	}
	
.window_cal{
	width: 1000px;
	height: 700px;
	margin: 10px auto;
	display: none;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
}	
.window{
	width: 1000px;
	height: 700px;
	margin: 10px auto;
	display: none;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
}	

.close{
/*	margin-left: 90%;*/
	position: absolute;
	right: 10px;
	/*margin-top: 4px;*/
	top: 10px;
	cursor: pointer;
}

#header {
	position: fixed;
	height:60px; 
	width:100%; 
	background:#D6D6D6; 
	clear:both;
}

#header .greeting {position:absolute; float:left; left:50px; top:5px;}
#header .balance_list {position:absolute; float:left; left:75px; top:35px;}
#header .top_menu {position:absolute; float:left; left:350px; top:2px;}
#header #in_work_h {position:absolute; float:left; left:50px; top:35px;}
#header .logout {position:absolute; width:550px; float:right; text-align:right; right:15px; top:5px;}

body {
	background: url(/login/images/bg.png) repeat;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    font-size: 80%;
	/*color: #999;
	font: 100%/1.5em sans-serif;*/
	margin: 0;
}



#tasks_list
{
	display: table;
	width: 100%;
}

#main_menu
{
	position: fixed;
	top:30px;
	wiudth: 100%;
}

#main_menu > div
{
	margin:2px;
    text-align: center;
    width: 100px;
	font-size: 90%;
    height: 25px;
	cursor:pointer;
    display: inline-block;
	border: 1px solid black;
	background-color: lightgrey;
}

#main_menu div:hover
{
	background-color: white;
}

#main_menu > div a {
     display: block; /* Ссылка как блочный элемент */
     text-align: center; /* Выравнивание по центру */
     height: 100%; /* Высота на весь слой */
	 line-height: 25px;
	 vertical-align: center;
     color: black; /* Цвет ссылки */
	 text-decoration: none;
    }

#main
{
	position: fixed;
	top:65px;
	bottom:25px;
	overflow:auto;
	width: 100%;
	border: 1px solid transparent;
}
  
.fc-other-month
{
	background-color:LightGrey;
}


#calendar_cont
{
	width:90%;
	height:90%;
	/*margin: 5%;*/
}

#calendar_call, #calendar_meet, #task_wrap
{
	width:90%;
	height:90%;
	/*margin: 5%;*/
}

#call_events
{
	position:absolute;
	left:50px;
	top:50px;
	width:210px;
	height:210px;
	border: 1px solid black;
	border-radius:30px;
	cursor:pointer;
}

#meet_events
{
	position:absolute;
	left:350px;
	top:50px;
	width:210px;
	height:210px;
	border: 1px solid black;
	cursor:pointer;
	border-radius:30px;
}

#task_events
{
	position:absolute;
	left:650px;
	top:50px;
	width:210px;
	height:210px;
	border: 1px solid black;
	cursor:pointer;
	border-radius:30px;
}

#call_events > div, #meet_events > div
{
	height: 50px;
	line-height:50px;
	width:180px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 30px;
}

#task_events > div
{
	height: 105px;
	line-height:105px;
	width:180px;
	/*margin-top: 30px;
	margin-bottom: 50px;*/
	margin-left: 30px;
}

#tasks_list_wrap
{
	width: 96%;
	height:90%;
	overflow:auto;
}

#tasks_list
{
	display: table;
	width: 100%;
	border-spacing: 5px;
}

.row_head_t
{
	display: table-row;
	width: 100%;
	height: 100%;
}
.row_odd_t
{
	display: table-row;
	width: 100%;
	height: 100%;
	margin-top:50px;
}

.row_even_t
{
	display: table-row;
	width: 100%;
	height: 100%;
	margin-top:50px;
}

.list_cell_t
{
	display: table-cell;
	vertical-align: middle;
	/*border: 1px solid black;*/
	height: 30px;
}

.red_task
{
	/*background-color:#FF4040;*/
	background-color:rgba(255, 64, 64, 0.7);
}

.orange_task
{
	/*background-color:orange;*/
	background-color:rgba(255, 165, 0, 0.7);
}

.green_task
{
	/*background-color:green;*/
	background-color:rgba(50, 255, 50, 0.7);
}
.head_new_form_msg
{
	position:absolute;
	width:80%;
	height:40px;
	margin-top:5px;
	margin-left:10%;
	background-color:#FF1050;
	z-index:999999;
	border-radius:20px;
}

.head_new_form_msg > div
{
	width:45%;
	line-height:40px;
}

.head_new_form_msg > div:nth-child(1) {float:left; text-align:right;}
.head_new_form_msg > div:nth-child(2) {float:right;}

#bank_header_span
{
	float:left;
}

#meet_header_span
{
	min-width:120px;
	width:120px;
}

.red_header_task
{
	color:#FF4040;
	cursor:pointer;
	font-style:italic;
	font-weight:bold;
}

.orange_header_task
{
	color:orange;
	cursor:pointer;
	font-style:italic;
	font-weight:bold;
}

.green_header_task
{
	color:green;
	cursor:pointer;
	font-style:italic;
	font-weight:bold;
}

.muar {
	background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
	);
}

.chart {
	position:absolute;
	left:50px;
	top:75px;
	width:50%;
	height:50%;
	z-index:9999999;
	background:white;
}

.row_head_t .list_cell_t:nth-child(1), .row_odd_t .list_cell_t:nth-child(1), .row_even_t .list_cell_t:nth-child(1) { width: 155px; }
.row_head_t .list_cell_t:nth-child(2), .row_odd_t .list_cell_t:nth-child(2), .row_even_t .list_cell_t:nth-child(2) { width: 70px; text-align:center;}
.row_head_t .list_cell_t:nth-child(3), .row_odd_t .list_cell_t:nth-child(3), .row_even_t .list_cell_t:nth-child(3) { width: 65px; }
.row_head_t .list_cell_t:nth-child(4), .row_odd_t .list_cell_t:nth-child(4), .row_even_t .list_cell_t:nth-child(4) { width: 350px; }
.row_head_t .list_cell_t:nth-child(5), .row_odd_t .list_cell_t:nth-child(5), .row_even_t .list_cell_t:nth-child(5) { width: 100px; }
.row_head_t .list_cell_t:nth-child(6), .row_odd_t .list_cell_t:nth-child(6), .row_even_t .list_cell_t:nth-child(6) { width: 100px; }

.summary_tasks
{
	outline:none;
	/*outline:1px dashed #000080;*/
	cursor:pointer;
	width: 100%;
	height: 100%;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.summary_tasks:hover
{
	background-color:lightgrey;
}

.detailes_tasks summary::-webkit-details-marker {
  display: none;
}
.detailes_tasks summary:before {
  /*content: " + ";*/
  content: "";
}
.detailes_tasks[open] summary:before {
  /*content: " - ";*/
  content: "";
  animation: scale .5s ease-in-out;
}
@keyframes scale {
  0%    {opacity: 0; transform: scaleY(0);}
  100%  {opacity: 1; transform: scaleY(1);}
}

input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;    
}
input[type="checkbox"].ios8-switch + label {
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
    margin-left: 16px;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: #55D069;
}
input[type="checkbox"].ios8-switch:not(:checked) + label:before {
    background: red;
}

/* SMALL */

input[type="checkbox"].ios8-switch-sm {
    margin: 5px 0 0 10px;
}
input[type="checkbox"].ios8-switch-sm + label {
    position: relative;
    padding: 0 0 0 32px;
    line-height: 1.3em;
}
input[type="checkbox"].ios8-switch-sm + label:before {
    width: 25px; /* x*5 */
    height: 15px; /* x*3 */
    border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:after {
    width: 15px; /* x*3 */
    height: 15px; /* x*3 */
    border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:hover:after {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch-sm:checked + label:after {
    margin-left: 10px; /* x*2 */
}

/* LARGE */

input[type="checkbox"].ios8-switch-lg {
    margin: 10px 0 0 20px;
}
input[type="checkbox"].ios8-switch-lg + label {
    position: relative;
    padding: 7px 0 0 60px;
    line-height: 2.3em;
}
input[type="checkbox"].ios8-switch-lg + label:before {
    width: 50px; /* x*5 */
    height: 30px; /* x*3 */
    border-radius: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch-lg + label:after {
    width: 30px; /* x*3 */
    height: 30px; /* x*3 */
    border-radius: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch-lg + label:hover:after {
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch-lg:checked + label:after {
    margin-left: 20px; /* x*2 */
}


/*.fc-view-container 
{
	height:5500px;
}*/

.side_panel_wrap {
	margin:40px auto; width:100%; position:relative; /*обязательное свойство*/ overflow:hidden; /*обязательное свойство*/
	z-index: 999999999;
}
.right_panel {
	margin-right:-200px; /*обязательное свойство*/ padding:20px; width:160px; position:absolute; /*обязательное свойство*/ top:0; /*обязательное свойство*/ right:0; /*обязательное свойство*/ background:#fcfcfc;
	z-index: 999999999;
}
.right_panel p.open {
	width:40px; height:160px; position:absolute; /*обязательное свойство*/ top:10px; /*обязательное свойство*/ right:200px; /*обязательное свойство*/ background:url(../images/booton.png) no-repeat; cursor:pointer;
	z-index: 999999999;
}

.panel {
	padding: 20px;
	width: 250px;
	background: #eeeeee;
	border: #282828 2px solid;
	font-family: Georgia;
}

/*.handle {
	display: block;
	width: 40px;
	height: 122px;
	text-indent: -99999px;
	background: url("/img/button.gif") no-repeat;
	outline: none;
	position: absolute;
	top: 0px;
	left: -40px;
}*/