#tooltip {
    z-index: 9999;
	position: absolute;
	display: none;
	top:0px;
	left:0px;
	background-color: #000;
	padding: 5px 10px 5px 10px;
	color: white;
	opacity: 0.6;
	border-radius: 5px; 
}

.white_event
{
	background-color:white;
}

.red_event
{
	background-color:red;
}

.orange_event
{
	background-color:orange;
}

.green_event
{
	background-color:green;
}


.row_head
{
	display: table-row;
	width: 100%;
	height: 100%;
}
.row_odd
{
	display: table-row;
	width: 100%;
	height: 100%
}

.row_even
{
	display: table-row;
	width: 100%;
	height: 100%
}

.list_cell
{
	display: table-cell;
	vertical-align: middle;
	/*border: 1px solid black;*/
	height: 30px;
}