#wrap{
		display: none;
		opacity: 0.8;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.725);
		z-index: 100;
		overflow: auto;
	}
#wrap_be{
		display: none;
		opacity: 0.8;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.725);
		z-index: 100;
		overflow: auto;
	}
	
	#window_be{
		width: 1200px;
		height: 80%;
		margin: 50px auto;
		display: none;
		background: #fff;
		z-index: 200;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
	}	
	#window{
		width: 1100px;
		height: 80%;
		margin: 50px auto;
		display: none;
		background: #fff;
		z-index: 200;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
	}
	
	
	#scrol{
		border: 4px double black;
		overflow: auto;
		width: 95%;
		height: 80%;
		margin-top: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.close{
	/*	margin-left: 90%;*/
		position: absolute;
		right: 10px;
		/*margin-top: 4px;*/
		top: 10px;
		cursor: pointer;
	}
	
	
#be_wrap
{
	width:1150px;
	height:80%;
	margin-top: 10%;
	overflow: auto;
}

#banks_list
{
	/*width: 100%;*/
	display: table;
	border-spacing: 5px;
}

#loading
{
	position:absolute;
	/*margin-top:100px;
	margin-left:30%;*/
	top:30%;
	left:30%;
}

.row
{
	display: table-row;
	width: 100%;
}

.cell
{
	display: table-cell;
	
	/*border: 1px solid black;*/
}

.row:nth-child(odd)
{
	background-color: #EEEEEE;
}
.row:nth-child(even)
{
	background-color: #E0E0E0;
}

.row .cell:nth-child(2)
{
	width:400px;
}

.cell input[type="text"]
{
	width: 90%;
	border: none;
	background-color: transparent;
}

.korpus {overflow: auto; height: 80%; margin-top:50px; padding:5px;}
.korpus > div, .korpus > input { display: none;}

.lm { padding: 5px; border: 1px solid #aaa; line-height: 28px; cursor: pointer; position: relative; bottom: 1px; background: #fff; }
.korpus input[type="radio"]:checked + label { border-bottom: 2px solid #fff; }

.korpus > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.korpus > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.korpus > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.korpus > input:nth-of-type(4):checked ~ div:nth-of-type(4),
.korpus > input:nth-of-type(5):checked ~ div:nth-of-type(5),
.korpus > input:nth-of-type(6):checked ~ div:nth-of-type(6) { overflow: auto; height: 85%; display: block; padding: 5px; border: 1px solid #aaa; line-height: 1.8;  position: relative;}

.inp
{
	/*margin-bottom : 3px;*/
}

.cp_but_h
{
	display:none;
}
.cr_tabl_h
{
	display:none;
}

.cp_but_s
{
	display:inline;
}

#products_table { width: 100%;}
#products_table tr:nth-of-type(2n+1) { background-color: #F0F0F0;}
#products_table tr:nth-of-type(2n+2) { background-color: #FFFFFF;}
tr.border_bottom td {
  border-bottom:1pt solid black;
}

.td0 { width: 25px; }
.td1 { width: 25px; }
.td2 { width: 25px; }
.td3 { width: 25px; }
.td4 { width: 150px; }
.td5 { width: 100px; }
.td6 { width: 70px; }
.td7 { width: 100px; }

.tab { position: absolute; left: 210px;}
.tab0 { position: absolute;}
.tab1 { position: absolute; left: 100px;}
.tab2 { position: absolute; left: 200px;}
.tab3 { position: absolute; left: 300px;}
.tab4 { position: absolute; left: 400px;}
.tab5 { position: absolute; left: 500px;}
.tab6 { position: absolute; left: 600px;}
.tab7 { position: absolute; left: 700px;}
.tab8 { position: absolute; left: 800px;}
.tab9 { position: absolute; left: 900px;}
.tab10 { position: absolute; left: 975px;}
.tab11 { position: absolute; left: 1150px;}

.res2 { position: absolute; left: 350px;}
.res3 { position: absolute; left: 740px;}
.res4 { position: absolute; left: 790px;}
.res5 { position: absolute; left: 900px;}
.res6 { position: absolute; left: 995px;}
.res7 { position: absolute; left: 1120px;}
.res8 { position: absolute; left: 550px;}
.res9 { position: absolute; left: 640px;}

#pr_form {line-height: 1.8; }
#pr_form > div > div > label > input {margin-top: 9px;}
#pr_form > div > div > input {margin-top: 4px;}
#pr_form > div > div > select {margin-top: 4px;}

/*#pr_form > input {margin: 0; padding: 0;}*/


/*#results {position:fixed; right:50px; top:100px; width:35%; border:solid; padding: 25px; height:70%; overflow: auto;}
*/


/*tabs in products.php*/


#tab2, #tab3, #tab4, #tab5 , #tab6 , #tab7 {position: absolute; }

.menu1 > a,
.menu1 #tab2:target ~ a:nth-of-type(1),
.menu1 #tab3:target ~ a:nth-of-type(1),
.menu1 #tab4:target ~ a:nth-of-type(1),
.menu1 #tab5:target ~ a:nth-of-type(1),
.menu1 #tab6:target ~ a:nth-of-type(1),
.menu1 #tab7:target ~ a:nth-of-type(1),
.menu1 > div { padding: 5px; border: 1px solid #aaa; }

.menu1 > a { line-height: 28px; background: #fff; text-decoration: none; }
.menu1 > a:visited {color: #000000}
.menu1 > a  {color: #000000}

#tab2,
#tab3,
#tab4,
#tab5,
#tab6,
#tab7,
.menu1 > div,
.menu1 #tab2:target ~ div:nth-of-type(1),
.menu1 #tab3:target ~ div:nth-of-type(1),
.menu1 #tab4:target ~ div:nth-of-type(1),
.menu1 #tab5:target ~ div:nth-of-type(1),
.menu1 #tab6:target ~ div:nth-of-type(1),
.menu1 #tab7:target ~ div:nth-of-type(1) {display: none; }

.menu1 > div:nth-of-type(1),
.menu1 #tab2:target ~ div:nth-of-type(2),
.menu1 #tab3:target ~ div:nth-of-type(3),
.menu1 #tab4:target ~ div:nth-of-type(4),
.menu1 #tab5:target ~ div:nth-of-type(5),
.menu1 #tab6:target ~ div:nth-of-type(6),
.menu1 #tab7:target ~ div:nth-of-type(7) { display: block; }

.menu1 > a:nth-of-type(1),
.menu1 #tab2:target ~ a:nth-of-type(2),
.menu1 #tab3:target ~ a:nth-of-type(3),
.menu1 #tab4:target ~ a:nth-of-type(4),
.menu1 #tab5:target ~ a:nth-of-type(5),
.menu1 #tab6:target ~ a:nth-of-type(6),
.menu1 #tab7:target ~ a:nth-of-type(7) { border-bottom: 2px solid #fff; }

[form="pr_form"] option {  color: black; }
.bb{color:black}
.rr{color:red}

#t_close {
	width:100%;
}

#t_open {
	width:100%;
}

.t_close_td {
	width:10%;
}

.t_close_td > input {
	width:100%;
}

.animated {
  transition-property: background-color;
  transition-duration: 3s;
}

#src { width: 72px; }
#rsl { position:absolute; left: 200px; width:100%; max-width: 550px; margin: 0; z-index:99999}
#rsl { list-style-type: none; padding: 0; display: none; }
#rsl li { width: 100%; border: 1px solid #569de5; padding-left: 4px; left: 200px; cursor: pointer;}
#rsl li:hover { background-color: #ffcc66; cursor: pointer; }
.li_help:hover { background-color: #ffcc66; cursor: pointer; }


/*end tabs*/