@font-face {
    font-family: 'PTSans-Regular';
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/PTSans-Regular.woff') format('woff'), url('../fonts/PTSans-Regular.ttf')  format('truetype'), url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
html, body {
    min-height: 100%;
}
body {
    background: #f5f5f5;
    box-sizing: border-box;
    padding-left: 65px;
    position: relative;
    min-height: 100%;
    min-width: 768px;
    width: 100%;
    font-family: "PTSans-Regular", sans-serif;
}
.button-input {
    max-height: 38px;
    padding: 10px;
    border: 1px solid #dbdedf;
    border-radius: 3px;
    vertical-align: middle;
    color: #2e3640;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    outline: none;
    z-index: 1;
    white-space: nowrap;
    text-decoration: none;
}

.n-avatar {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}


/* МЕНЮ В САЙДБАРЕ */
.left-menu {
    position: fixed;
    z-index: 110;
    width: 65px;
    background: #1b3446;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav__top {
    height: 65px;
    position: relative;
    background: #162b3a;
    cursor: pointer;
    z-index: 20;


}
.nav__top:before {
    content: "";
    right: 0;
    background: #162b3a;
    z-index: 33;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

/* Аватар пользователя */
.nav__top__userpic__holder {
    position: absolute;
    z-index: 34;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.nav__top__userpic__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* Меню в сайдбаре слева */
.nav__menu {
    margin-top: 18px;

}
.nav__menu__item {
    margin: 20px 0 0;
    position: relative;
    cursor: pointer;
    line-height: 70px;
    text-align: center;
}
.nav__menu__item:first-child {
    margin: 0;
}
.nav__menu__item__title {
    text-align: center;
    line-height: 13px;
    font-size: 11px;
    width: 60px;
    margin: 0 auto;
}
.nav__menu__item__icon {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 auto 6px;
}
.nav__menu__item__icon:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.nav__menu__item__link {
    text-decoration: none;
    color: #9da8ae;
    font-size: 0;
    outline: none;
}
.nav__menu__item-selected .nav__menu__item__link {
    color: #acadaf;
}
.nav__menu__item__icon.icon-dash:before {
    background-image: url(../images/icons/dashboard.svg);
}
.nav__menu__item__icon.icon-leads:before {
    background-image: url(../images/icons/leads.svg);
}
.nav__menu__item__icon.icon-tasks:before {
    background-image: url(../images/icons/tasks.svg);
}
.nav__menu__item__icon.icon-catalogs:before {
    background-image: url(../images/icons/lists.svg);
}
.nav__menu__item__icon.icon-mail:before {
    background-image: url(../images/icons/mail.svg);
}
.nav__menu__item__icon.icon-stats:before {
    background-image: url(../images/icons/analytics.svg);
}
.nav__menu__item__icon.icon-settings:before {
    background-image: url(../images/icons/settings.svg);
}
/* selected menu */
.selected .nav__menu__item__icon.icon-leads:before {
    background-image: url(../images/icons/leads_active.svg);
}


/* КЛИЕНТЫ - Основной контент */
#page_holder {
    position: absolute;
    left: 65px;
    right: 0;
    min-height: 100%;
}
.list__body  {
    position: relative;
    z-index: 1;
}
.list__body-right {
    padding-top: 80px;
}

/* top section */
.list__body-right__top {
    padding: 0;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 65px;
    right: 0;
    min-width: 703px;
    border-bottom: 1px solid #e8eaeb;
    height: 65px;
    box-sizing: border-box;
    z-index: 70;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.list-leads .list__top__preset {
    padding-left: 30px;
    padding-right: 10px;
    height: 64px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    white-space: nowrap;
    font-size: 0;
    text-align: left;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    position: relative;
}

.list__body-right__top .list__top__actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    float: initial;
    z-index: 1;
    white-space: nowrap;
    padding: 0 40px;
}


.list-leads .list-top-search {
    border-radius: 0;
    border: 1px solid #e8eaeb;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    margin: 0;
    height: 64px;
    font-size: 15px;
    padding: 0 20px 0 42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    position: relative;
    z-index: 10;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
    color: #313942;
    -webkit-transition: border-color .7s,box-shadow .7s,padding-left .4s;
    transition: border-color .7s,box-shadow .7s,padding-left .4s;
    min-width: 200px;
}
.list-top-nav__text-button {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 64px;
    text-decoration: none;
    color: #000;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    margin-right: 10px;
    max-width: 15vw;
}
.list-top-nav__buttons-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.list-top-nav__icon-button {
    width: 34px;
    height: 39px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ccc;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: 0 0;
    cursor: pointer;
    border: none;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.svg-common--pipe-dims {
    width: 14px;
    height: 16px;
}
.svg-common--list-dims {
    width: 14px;
    height: 14px;
}
.list-top-nav__icon-button.active .svg-icon path {
    fill: #4c8bf7;
}

.list-leads .list-top-search__input-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    min-width: 0;
    overflow: hidden;
}

.list-leads .list__top__actions .button-input {
    height: 38px;
    padding: 0 16px;
    border: 1px solid #dbdedf;
    border-radius: 3px;
    position: relative;
    background: #fcfcfc;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    cursor: pointer;
    outline: none;
    z-index: 1;
    white-space: nowrap;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    line-height: 37px;
    max-height: none;
}
.list-leads .list__top__actions .button-input.button-input_add {
    background-color: #99ccff;
    color: #fff;
}

/* Поиск  */
.list-leads .list-top-search {
    border-radius: 0;
    border: 1px solid #e8eaeb;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    margin: 0;
    height: 64px;
    font-size: 15px;
    padding: 0 20px 0 42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.list-leads .list-top-search__input-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: visible;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    line-height: 20px;
    min-height: 22px;
}
.list-leads .list-top-search__input {
    line-height: 19px;
    margin-top: 3px;
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 70%;
    margin-right: 20%;
    font-size: 15px;
    border: none;
    padding: 5px;
    height: auto;
}

.list-leads .list-top-search__summary {
    margin-top: 2px;
    white-space: nowrap;
}
.list-leads .list-top-search__icon {
    top: 25px;
    left: 20px;
    width: 16px;
    height: 15px;
    position: absolute;
    cursor: text;
    z-index: 1;
    -webkit-transition: all .4s;
    transition: all .4s;
    fill: #6e747a;
}



/* Список лидов */
.column_settings {
    display: block;
    opacity: 0;
    position: absolute;
    padding: 0 0 30px;
    margin: 0 30px;
}
.list-leads .list__body__holder {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.list-leads .list__table__holder {
    padding-left: 15px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s,-webkit-transform .2s;
}
.list-leads .list__table {
    padding-right: 15px;
    position: relative;
    width: -webkit-calc(100% - 15px);
    width: calc(100% - 15px);
    display: table;
}
.list-row {
    display: table-row;
    position: relative;
    background: #fff;
}
.cell-head__inner-content {
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 19px;
    width: 100%;
    z-index: 1;
    padding: 12px 10px;
    height: 42px;
    box-sizing: border-box;
    color: inherit;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}
.list-row__cell:first-child {
    padding-left: 14px;
}
.list-row__cell-template-id {
    padding: 0;
    min-width: 37px;
    width: 37px;
    vertical-align: middle;
}
.cell-head {
    color: rgba(133,145,165,.6);
    border-top: 0;
    padding: 0;

}
.list-row__cell {
    display: table-cell;
    font-size: 15px;
    line-height: 19px;
    min-width: 120px;
    margin: 0;
    border-top: 1px solid #f1f1f1;
    vertical-align: top;
    position: relative;
    color: #313942;
    box-sizing: border-box;
}
.list-row  .list-row__cell:first-child {
    padding-left: 14px;
    vertical-align: middle;
    min-width: 37px;
    width: 37px;
}
.list-row:not(.list-row-head) .list-row__cell:first-child {
    padding-left: 4px;
}


.cell-head.list-row__cell-template-id .cell-head__inner {
    border-right: 0;
}
.cell-head__inner {
    position: relative;
    white-space: nowrap;
    border-right: 1px solid #e5e5e5;
}
.cell-head__title {
    position: relative;
    z-index: 52;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    color: rgba(133,145,165,.8);
    font-weight: bold;
}
.control-checkbox {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 0;
    z-index: 101;
    margin-right: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cell-head__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    right: 0;
    width: 30px;
    top: 0;
    bottom: 0;
    position: absolute;
    background: #fff;
    z-index: 60;
}
.list-row__cell-template-id .control-checkbox input {
    left: -7px;
    top: -7px;
    width: 34px;
    height: 34px;
}
.control-checkbox input {
    position: absolute;
    opacity: 0;
    z-index: 4;
    width: 20px;
    height: 20px;
}
.control-checkbox__helper {
    position: relative;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    z-index: 3;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* leads list */
.list-row__cell:nth-child(2) .content-table__item__inner {
    padding-left: 8px;
}
.list-row__template-name__name {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    max-width: -webkit-calc(100% - 22px);
    max-width: calc(100% - 22px);
    overflow: hidden;
    margin-right: auto;
}
.pipeline_customers__task-icon:after, .pipeline_leads__task-icon:after {
    position: absolute;
    content: '';
    display: block;
    left: -7.5px;
    top: -7.5px;
    bottom: -7.5px;
    right: -7.5px;
}
.pipeline_leads__task-icon_yellow {
    background: #e4b248;
}
.pipeline_leads__task-icon_red {
    background: red;
}
.pipeline_leads__task-icon {
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-top: 1px;
}
a.list-row__template-name__table-wrapper__name-link {
    line-height: 19px;
    text-decoration: none;
    color: #0057a9;
    margin-right: 29px;
}
.list-row__tasks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 18px;
    line-height: 18px;
    margin-right: 7px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.pipeline_customers__task-icon:after, .pipeline_leads__task-icon:after {
    position: absolute;
    content: '';
    display: block;
    left: -7.5px;
    top: -7.5px;
    bottom: -7.5px;
    right: -7.5px;
}
.content-table__item__inner-template-name, .list-row__template-name__name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.content-table__item__inner {
    white-space: nowrap;
    padding: 10px 0 10px 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}
.js-navigate-link {
    color: #313942;
    text-decoration: underline;
    cursor: pointer;
    color: #313942;
    margin-right: 7px;
}
.leads__status-label {
    padding: 3px 6px;
    border-radius: 3px;
    background: #ccc;
    font-size: 13px;
    color: rgba(0,0,0,.5);
}
.control-checkbox input:checked~.control-checkbox__helper:not(.control-checkbox__helper_minus) {
    background: #fff url(../images/icons/checked.svg) no-repeat;
    background-size: 70%;
    background-position: center;
}

/* ЛИДЫ ВИД 2 */
.pipeline-scroller {
    padding-left: 30px;
}

.pipeline__body {
    min-height: -webkit-calc(100vh - 80px);
    min-height: calc(100vh - 80px);
    display: inline-block;
    min-width: 100%;
    height: 100%;
}
.pipeline_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pipeline_status__head {
    text-align: center;
    position: relative;
    padding: 15px 10px 10px;
}

.list-pipeline .pipeline_status__head_title {
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
    z-index: 1;
    margin-right: 0;
    height: 17px;
}
.pipeline_status__head_info {
    -webkit-transition: max-height .4s,opacity .4s;
    transition: max-height .4s,opacity .4s;
    max-height: 2px;
    opacity: 0;
    position: relative;
    z-index: 2;
    font-size: 13px;
    font-weight: 500;
    color: #000;
    overflow: hidden;
}
.pipeline_status__head_line {
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
}


 .pipeline_cell {
    padding-bottom: 17px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 312px;
    min-width: 312px;
    max-width: 312px;
    padding-right: 10px;
    position: relative;
    height: 100%;
    z-index: 20;
}
.pipeline_status__head {
    text-align: center;
    position: relative;
    padding: 15px 10px 10px;
}
.list-pipeline .pipeline_cell-head {
    min-width: 0;
    height: 67px;
}









/* Footer ЛИДЫ */
.list-leads .list__footer {
    height: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    position: relative;
    z-index: 25;
    left: 0;
    background: #f5f5f5;
    right: 0;
    box-sizing: border-box;

}
.list__footer__items-pagination {
    top: 5px;
    float: none;
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;
}
.list-leads .pagination-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    font-size: 0;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 8px;
}
.pagination-pages {
    margin-left: 10px;
    display: inline-block;
}
.list-leads  .js-pagination-prev {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.list-leads  .list-top-nav__icon-button_pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    fill: #1b3446;
}
.list-top-nav__icon-button {
    width: 34px;
    height: 39px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ccc;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: 0 0;
    cursor: pointer;
    border: none;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.svg-common--bold-arrow-dims {
    width: 6px;
    height: 9px;
}
.list-leads  .button-input.pagination-buttons__btn {
    display: none;
}
.list-leads  .pagination-link {
    padding: 10px;
    color: #c6cace;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    text-decoration: none;

}
.pagination-link__wrapper {
    display: inline-block;
    position: relative;
    line-height: 40px;
    border-bottom: 2px solid transparent;
}
.list-leads  .pagination-link__wrapper-active .pagination-link {
    color: #313942;
}
.pipeline_status__head_info .pipeline_status__head_info__count {
    color: #363b44;
    font-weight: 400;
    margin-right: 4px;
}


.pipeline_items__list {
    padding: 0;
    height: 100%;
    overflow: visible;
    min-height: 80px;
}
 .pipeline_items__list {
    min-height: -webkit-calc(100vh - 170px);
    min-height: calc(100vh - 170px);

}
.pipeline_cell-head {
    min-width: 0;
    height: 75px;
}

/* lead item */
.pipeline_leads__item {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    margin: 0 0 5px;
    background: #fff;
    padding: 6px 8px 5px;
    position: relative;
    cursor: default;
}
.pipeline_leads__top-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-height: 60px;
    overflow: hidden;
    margin-bottom: 2px;
}
.pipeline_leads__lead-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.pipeline_leads__lead-title-text {
    font-size: 15px;
    line-height: 17px;
    color: #0057a9;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    margin-right: auto;
}
.pipeline_leads__middle-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3px;
}
.pipeline_leads__price {
    color: #707070;
    font-size: 12px;
    font-weight: 400;
    margin-right: 7px;
    line-height: 18px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    max-width: -webkit-calc(100% - 35px);
    max-width: calc(100% - 35px);
}
.pipeline_leads__tags {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    line-height: 18px;
    height: 18px;
    z-index: 2;
    margin: 0 3px -1px -1px;
    padding-left: 2px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.pipeline_leads__tasks {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: auto;
    height: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.pipeline_leads__task-icon_yellow {
    background: #e4b248;
}
.pipeline_customers__task-icon:after, .pipeline_leads__task-icon:after {
    position: absolute;
    content: '';
    display: block;
    left: -7.5px;
    top: -7.5px;
    bottom: -7.5px;
    right: -7.5px;
}
.pipeline_leads__tags-inner {
    white-space: normal;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    text-align: left;
    max-width: 100%;
}
.pipeline_leads__tags-inner:before {
    content: "+"attr(data-rest);
    border: 1px solid #bdbdbd;
    background-color: #fff;
    border-radius: 3px;
    line-height: 16px;
    box-sizing: border-box;
    width: 20px;
    height: 18px;
    margin-left: -2px;
}
.pipeline_leads__linked-entities {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    word-break: break-word;
    word-wrap: break-word;
    min-width: 0;
    color: #363b44;
    line-height: 1.2;
    box-sizing: border-box;
    font-size: 13px;
}
.pipeline_leads__task-days {
    white-space: nowrap;
    display: inline-block;
    line-height: 18px;
    font-size: 12px;
    margin-left: 5px;

}
.pipeline_leads__task-days_yellow {
    color: #e4b248;
}
.pipeline_leads__top-date {
    margin-left: 5px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #676e79;
    font-size: 13px;
    line-height: 1.2;
    box-sizing: border-box;
}
.pipeline_leads__item {
    cursor: move;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}