/* common styles */
@font-face {
    font-family: 'PTSans-Regular';
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/PTSans-Regular.woff') format('woff'), url('../fonts/PTSans-Regular.ttf')  format('truetype'), url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.float-l {
    float: left;
}
.float-r {
    float: right;
}
.col-50 {
    width: 50%;
    float: left;
}
.col-40 {
    width: 40%;
    float: left;
}
.col-45 {
    width: 45%;
    float: left;

}
.col-10 {
    width: 10%;
    float: left;
}
.col-55 {
    width: 55%;
    float: left;
}
.col-5 {
    width: 5%;
    float: left;
}
/*[data-simplebar] {*/
    /*z-index: initial;*/
/*}*/
html, body {
    min-height: 100%;
}
html {
    height: 100%;
}
body {
    font-size: 12px;
    background: #f5f5f5;
    box-sizing: border-box;
    padding-left: 65px;
    position: relative;
    min-height: 100%;
    min-width: 768px;
    width: 100%;
    font-family: "PTSans-Regular", sans-serif;
}
.table {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
}
.tc, .th {
    display: table-cell;
    font-size: 13px;
    padding-bottom: 5px;
}
textarea {
    resize: vertical;
}

/*  checkbox styles */
.checkbox-label {
    display: inline-block;
    font-size: .9em;
    line-height: 1.4em;
    color: #333;
    position: relative;
    outline: none;
}
.checkbox-label:hover {
    cursor: pointer;
}

input[type="checkbox"].checkbox {
    opacity: 0;
    position: absolute;
}
input[type="checkbox"] + .checkbox-label:before {
    font-family: 'iconicfill', sans-serif;
    content: '';
    font-size: 1em;
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
}
input[type="checkbox"]:checked + .checkbox-label:before {
    content: "\2713";
    color: #3498db;
}
input[type="checkbox"]:focus + .checkbox-label:before {
    outline: none;
    border-color: #3498db;
}
input[type="checkbox"] + .checkbox-label:empty:before {
    margin-right: 0;
}

/* radio button */
.radio-label {
    display: inline-block;
    font-size: .9em;
    line-height: 1.4em;
    color: #333;
    position: relative;
    outline: none;
}
.radio-label:hover {
    cursor: pointer;
}

input[type="radio"].radio {
    opacity: 0;
    position: absolute;
}
input[type="radio"] + .radio-label:before {
    content: '';
    background: #fff;
    border-radius: 100%;
    border: 1px solid #ccc;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
}
input[type="radio"]:checked + .radio-label:before {
    background-color: #3498db;
    box-shadow: inset 0 0 0 4px #fff;
}
input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #3498db;
}
input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}
/* end radio button */

.button-input {
    max-height: 38px;
    padding: 10px;
    border: 1px solid #dbdedf;
    border-radius: 3px;
    vertical-align: middle;
    color: #2e3640;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    outline: none;
    z-index: 1;
    white-space: nowrap;
    text-decoration: none;
}
/* кнопка */

.btn {
    display: inline-block;
    padding: 7px 12px;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.gray {
    background: #d8d8d8;
}

/* popup */
#wrap {
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
}
/* wrap для закрытия списка статусов анкеты */
#wrap2 {
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: transparent;
    z-index: 100;
    overflow: auto;
}

#window {
    width: 1100px;
    height: 630px;
    margin: 50px auto;
    display: none;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
}
#window .close {
    margin-left: 90%;
    position: absolute;
    right: 10px;
    margin-top: 4px;
    top: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: block;
}

#prod_detail {
    margin-top: 50px;
    overflow: auto;
    line-height: 1.4;
}



/* end popup */

.n-avatar {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
    background-image: url(../images/vertical.png);
    background-color: #ececec;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: col-resize;

}


/* МЕНЮ В САЙДБАРЕ */
.left-menu {
    position: fixed;
    z-index: 110;
    width: 65px;
    background: #1b3446;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav__top {
    height: 65px;
    position: relative;
    background: #162b3a;
    cursor: pointer;
    z-index: 20;


}
.nav__top:before {
    content: "";
    right: 0;
    background: #162b3a;
    z-index: 33;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

/* Аватар пользователя */
.nav__top__userpic__holder {
    position: absolute;
    z-index: 34;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.nav__top__userpic__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* Меню в сайдбаре слева */
.nav__menu {
    margin-top: 18px;

}
.nav__menu__item {
    margin: 20px 0 0;
    position: relative;
    cursor: pointer;
    line-height: 70px;
    text-align: center;
}
.nav__menu__item:first-child {
    margin: 0;
}
.nav__menu__item__title {
    text-align: center;
    line-height: 13px;
    font-size: 11px;
    width: 60px;
    margin: 0 auto;
}
.nav__menu__item__icon {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 auto 6px;
}
.nav__menu__item__icon:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.nav__menu__item__link {
    text-decoration: none;
    color: #9da8ae;
    font-size: 0;
    outline: none;
}
.nav__menu__item-selected .nav__menu__item__link {
    color: #acadaf;
}
.nav__menu__item__icon.icon-dash:before {
    background-image: url(../images/icons/dashboard.svg);
}
.nav__menu__item__icon.icon-leads:before {
    background-image: url(../images/icons/leads.svg);
}
.nav__menu__item__icon.icon-tasks:before {
    background-image: url(../images/icons/tasks.svg);
}
.nav__menu__item__icon.icon-catalogs:before {
    background-image: url(../images/icons/lists.svg);
}
.nav__menu__item__icon.icon-mail:before {
    background-image: url(../images/icons/mail.svg);
}
.nav__menu__item__icon.icon-stats:before {
    background-image: url(../images/icons/analytics.svg);
}
.nav__menu__item__icon.icon-settings:before {
    background-image: url(../images/icons/settings.svg);
}
/* selected menu */
.selected .nav__menu__item__icon.icon-leads:before {
    background-image: url(../images/icons/leads_active.svg);
}


/* КЛИЕНТЫ - Основной контент */
#page_holder {
    position: absolute;
    left: 65px;
    right: 0;
    min-height: 100%;
}
.list__body  {
    position: relative;
    z-index: 1;
}
.list__body-right {
    padding-top: 80px;
}

/* top section */
.list__body-right__top {
    padding: 0;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 65px;
    right: 0;
    min-width: 703px;
    border-bottom: 1px solid #e8eaeb;
    height: 65px;
    box-sizing: border-box;
    z-index: 70;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.list-leads .list__top__preset {
    padding-left: 30px;
    padding-right: 10px;
    height: 64px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    white-space: nowrap;
    font-size: 0;
    text-align: left;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    position: relative;
}

.list__body-right__top .list__top__actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    float: initial;
    z-index: 1;
    white-space: nowrap;
    padding: 0 40px;
}


.list-leads .list-top-search {
    border-radius: 0;
    border: 1px solid #e8eaeb;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    margin: 0;
    height: 64px;
    font-size: 15px;
    padding: 0 20px 0 42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    position: relative;
    z-index: 10;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
    color: #313942;
    -webkit-transition: border-color .7s,box-shadow .7s,padding-left .4s;
    transition: border-color .7s,box-shadow .7s,padding-left .4s;
    min-width: 200px;
}
.list-top-nav__text-button {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 64px;
    text-decoration: none;
    color: #000;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    margin-right: 10px;
    max-width: 15vw;
}
.list-top-nav__buttons-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.list-top-nav__icon-button {
    width: 34px;
    height: 39px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ccc;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: 0 0;
    cursor: pointer;
    border: none;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.svg-common--pipe-dims {
    width: 14px;
    height: 16px;
}
.svg-common--list-dims {
    width: 14px;
    height: 14px;
}
.list-top-nav__icon-button.active .svg-icon path {
    fill: #4c8bf7;
}

.list-leads .list-top-search__input-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    min-width: 0;
    overflow: hidden;
}

.list-leads .list__top__actions .button-input {
    height: 38px;
    padding: 0 16px;
    border: 1px solid #dbdedf;
    border-radius: 3px;
    position: relative;
    background: #fcfcfc;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    cursor: pointer;
    outline: none;
    z-index: 1;
    white-space: nowrap;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    line-height: 37px;
    max-height: none;
}
.list-leads .list__top__actions .button-input.button-input_add {
    background-color: #99ccff;
    color: #fff;
}

/* Поиск  */
.list-leads .list-top-search {
    border-radius: 0;
    border: 1px solid #e8eaeb;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    margin: 0;
    height: 64px;
    font-size: 15px;
    padding: 0 20px 0 42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.list-leads .list-top-search__input-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: visible;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    line-height: 20px;
    min-height: 22px;
}
.list-leads .list-top-search__input {
    line-height: 19px;
    margin-top: 3px;
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 70%;
    margin-right: 20%;
    font-size: 15px;
    border: none;
    padding: 5px;
    height: auto;
}

.list-leads .list-top-search__summary {
    margin-top: 2px;
    white-space: nowrap;
}
.list-leads .list-top-search__icon {
    top: 25px;
    left: 20px;
    width: 16px;
    height: 15px;
    position: absolute;
    cursor: text;
    z-index: 1;
    -webkit-transition: all .4s;
    transition: all .4s;
    fill: #6e747a;
}



/* Список лидов */
.column_settings {
    display: block;
    opacity: 0;
    position: absolute;
    padding: 0 0 30px;
    margin: 0 30px;
}
.list-leads .list__body__holder {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.list-leads .list__table__holder {
    padding-left: 15px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s,-webkit-transform .2s;
    height: 100%;
}
.list-leads .list__table {
    padding-right: 15px;
    position: relative;
    width: -webkit-calc(100% - 15px);
    width: calc(100% - 15px);
    display: table;
}
.list-row {
    display: table-row;
    position: relative;
    background: #fff;
}
.cell-head__inner-content {
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 19px;
    width: 100%;
    z-index: 1;
    padding: 12px 10px;
    height: 42px;
    box-sizing: border-box;
    color: inherit;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}
.list-row__cell:first-child {
    padding-left: 14px;
}
.list-row__cell-template-id {
    padding: 0;
    min-width: 37px;
    width: 37px;
    vertical-align: middle;
}
.cell-head {
    color: rgba(133,145,165,.6);
    border-top: 0;
    padding: 0;

}
.list-row__cell {
    display: table-cell;
    font-size: 15px;
    line-height: 19px;
    min-width: 120px;
    margin: 0;
    border-top: 1px solid #f1f1f1;
    vertical-align: top;
    position: relative;
    color: #313942;
    box-sizing: border-box;
}
.list-row  .list-row__cell:first-child {
    padding-left: 14px;
    vertical-align: middle;
    min-width: 37px;
    width: 37px;
}
.list-row:not(.list-row-head) .list-row__cell:first-child {
    padding-left: 4px;
}


.cell-head.list-row__cell-template-id .cell-head__inner {
    border-right: 0;
}
.cell-head__inner {
    position: relative;
    white-space: nowrap;
    border-right: 1px solid #e5e5e5;
}
.cell-head__title {
    position: relative;
    z-index: 52;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    color: rgba(133,145,165,.8);
    font-weight: bold;
}
.control-checkbox {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 0;
    z-index: 101;
    margin-right: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cell-head__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    right: 0;
    width: 30px;
    top: 0;
    bottom: 0;
    position: absolute;
    background: #fff;
    z-index: 60;
}
.list-row__cell-template-id .control-checkbox input {
    left: -7px;
    top: -7px;
    width: 34px;
    height: 34px;
}
.control-checkbox input {
    position: absolute;
    opacity: 0;
    z-index: 4;
    width: 20px;
    height: 20px;
}
.control-checkbox__helper {
    position: relative;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    z-index: 3;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Список лидов */
.list-row__cell:nth-child(2) .content-table__item__inner {
    padding-left: 8px;
}
.list-row__template-name__name {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    max-width: -webkit-calc(100% - 22px);
    max-width: calc(100% - 22px);
    overflow: hidden;
    margin-right: auto;
}
.pipeline_customers__task-icon:after, .pipeline_leads__task-icon:after {
    position: absolute;
    content: '';
    display: block;
    left: -7.5px;
    top: -7.5px;
    bottom: -7.5px;
    right: -7.5px;
}
.pipeline_leads__task-icon_yellow {
    background: #e4b248;
}
.pipeline_leads__task-icon_red {
    background: red;
}
.pipeline_leads__task-icon {
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-top: 1px;
}
a.list-row__template-name__table-wrapper__name-link {
    line-height: 19px;
    text-decoration: none;
    color: #0057a9;
    margin-right: 29px;
}
.list-row__tasks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 18px;
    line-height: 18px;
    margin-right: 7px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.pipeline_customers__task-icon:after, .pipeline_leads__task-icon:after {
    position: absolute;
    content: '';
    display: block;
    left: -7.5px;
    top: -7.5px;
    bottom: -7.5px;
    right: -7.5px;
}
.content-table__item__inner-template-name, .list-row__template-name__name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.content-table__item__inner {
    white-space: nowrap;
    padding: 10px 0 10px 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}
.js-navigate-link {
    color: #313942;
    text-decoration: underline;
    cursor: pointer;
    color: #313942;
    margin-right: 7px;
}
.leads__status-label {
    padding: 3px 6px;
    border-radius: 3px;
    background: #ccc;
    font-size: 13px;
    color: rgba(0,0,0,.5);
}
.control-checkbox input:checked~.control-checkbox__helper:not(.control-checkbox__helper_minus) {
    background: #fff url(../images/icons/checked.svg) no-repeat;
    background-size: 70%;
    background-position: center;
}

/* ЛИДЫ ВИД 2 */
.pipeline-scroller {
    padding-left: 30px;
}

.pipeline__body {
    min-height: -webkit-calc(100vh - 80px);
    min-height: calc(100vh - 80px);
    display: inline-block;
    min-width: 100%;
    height: 100%;
}
.pipeline_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pipeline_status__head {
    text-align: center;
    position: relative;
    padding: 15px 10px 10px;
}

.list-pipeline .pipeline_status__head_title {
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
    z-index: 1;
    margin-right: 0;
    height: 17px;
}
.pipeline_status__head_info {
    -webkit-transition: max-height .4s,opacity .4s;
    transition: max-height .4s,opacity .4s;
    max-height: 2px;
    opacity: 0;
    position: relative;
    z-index: 2;
    font-size: 13px;
    font-weight: 500;
    color: #000;
    overflow: hidden;
}
.pipeline_status__head_line {
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
}


 .pipeline_cell {
    padding-bottom: 17px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 312px;
    min-width: 312px;
    max-width: 312px;
    padding-right: 10px;
    position: relative;
    height: 100%;
    z-index: 20;
}
.pipeline_status__head {
    text-align: center;
    position: relative;
    padding: 15px 10px 10px;
}
.list-pipeline .pipeline_cell-head {
    min-width: 0;
    height: 67px;
}









/* Footer ЛИДЫ */
.list-leads .list__footer {
    height: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    position: relative;
    z-index: 25;
    left: 0;
    background: #f5f5f5;
    right: 0;
    box-sizing: border-box;

}
.list__footer__items-pagination {
    top: 5px;
    float: none;
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;
}
.list-leads .pagination-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    font-size: 0;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 8px;
}
.pagination-pages {
    margin-left: 10px;
    display: inline-block;
}
.list-leads  .js-pagination-prev {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.list-leads  .list-top-nav__icon-button_pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    fill: #1b3446;
}
.list-top-nav__icon-button {
    width: 34px;
    height: 39px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ccc;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: 0 0;
    cursor: pointer;
    border: none;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.svg-common--bold-arrow-dims {
    width: 6px;
    height: 9px;
}
.list-leads  .button-input.pagination-buttons__btn {
    display: none;
}
.list-leads  .pagination-link {
    padding: 10px;
    color: #c6cace;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    text-decoration: none;

}
.pagination-link__wrapper {
    display: inline-block;
    position: relative;
    line-height: 40px;
    border-bottom: 2px solid transparent;
}
.list-leads  .pagination-link__wrapper-active .pagination-link {
    color: #313942;
}
.pipeline_status__head_info .pipeline_status__head_info__count {
    color: #363b44;
    font-weight: 400;
    margin-right: 4px;
}


.pipeline_items__list {
    padding: 0;
    height: 100%;
    overflow: visible;
    min-height: 80px;
}
 .pipeline_items__list {
    min-height: -webkit-calc(100vh - 170px);
    min-height: calc(100vh - 170px);

}
.pipeline_cell-head {
    min-width: 0;
    height: 75px;
}

/* lead item */
.pipeline_leads__item {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    margin: 0 0 5px;
    background: #fff;
    padding: 6px 8px 5px;
    position: relative;
    cursor: default;
}
.pipeline_leads__top-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-height: 60px;
    overflow: hidden;
    margin-bottom: 2px;
}
.pipeline_leads__lead-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.pipeline_leads__lead-title-text {
    font-size: 15px;
    line-height: 17px;
    color: #0057a9;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    margin-right: auto;
}
.pipeline_leads__middle-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3px;
}
.pipeline_leads__price {
    color: #707070;
    font-size: 12px;
    font-weight: 400;
    margin-right: 7px;
    line-height: 18px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    max-width: -webkit-calc(100% - 35px);
    max-width: calc(100% - 35px);
}
.pipeline_leads__tags {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    line-height: 18px;
    height: 18px;
    z-index: 2;
    margin: 0 3px -1px -1px;
    padding-left: 2px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.pipeline_leads__tasks {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: auto;
    height: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.pipeline_leads__task-icon_yellow {
    background: #e4b248;
}
.pipeline_customers__task-icon:after, .pipeline_leads__task-icon:after {
    position: absolute;
    content: '';
    display: block;
    left: -7.5px;
    top: -7.5px;
    bottom: -7.5px;
    right: -7.5px;
}
.pipeline_leads__tags-inner {
    white-space: normal;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    text-align: left;
    max-width: 100%;
}
.pipeline_leads__tags-inner:before {
    content: "+"attr(data-rest);
    border: 1px solid #bdbdbd;
    background-color: #fff;
    border-radius: 3px;
    line-height: 16px;
    box-sizing: border-box;
    width: 20px;
    height: 18px;
    margin-left: -2px;
}
.pipeline_leads__linked-entities {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    word-break: break-word;
    word-wrap: break-word;
    min-width: 0;
    color: #363b44;
    line-height: 1.2;
    box-sizing: border-box;
    font-size: 13px;
}
.pipeline_leads__task-days {
    white-space: nowrap;
    display: inline-block;
    line-height: 18px;
    font-size: 12px;
    margin-left: 5px;

}
.pipeline_leads__task-days_yellow {
    color: #e4b248;
}
.pipeline_leads__top-date {
    margin-left: 5px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #676e79;
    font-size: 13px;
    line-height: 1.2;
    box-sizing: border-box;
}
.pipeline_leads__item {
    cursor: move;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* страница АНКЕТА */

.anketa_wrap {
    position: fixed;
    /*width: 100%;*/
    height: 100%;
    left: 65px;
    right: 50px;
    transition: right .3s;
}

.anketa-head {
    background: #223d48;
    padding: 20px 20px 0;
    position: relative;
}
.anketa-head .main-btn {
    margin-bottom: 5px;
    color: #fff;
}
.head-wrap {
    margin-left: 8px;
    font-size: 10px;
    color: #fff;
}
.head-wrap h1 {
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.back-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 23px;
    background: url(../images/icons/back-arrow.svg) center / auto 80% no-repeat;
    border: none;
    cursor: pointer;
}
.set-control {
    width: 26px;
    height: 24px;
    position: absolute;
    background: url(../images/icons/svetofor-icon.svg);
    border-radius: 50%;
    right: 20px;
    top: 19px;
    cursor: pointer;
    border: none;
    background-size: 92% auto;
    background-position: top center;
    background-repeat: no-repeat;

}
.set-control:focus {
    outline: none;
}
.set-control.active {
    background-position: 0 -31px;
}

/* photo input */
.photo .form-group, .file .form-group{
    /*margin-left: 10px;*/
    margin-top: -5px;
}
 .file .form-group {
    margin-left: 0;
}
.photo .btn, .file .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: transparent;
}
.photo label, .file label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.photo .btn-tertiary, .file .btn-tertiary {
    color: rgba(255,255,255,.5);
    padding: 0;
    line-height: 20px;
    width: 130px;
    margin: auto;
    display: block;
    border: 2px solid rgba(255,255,255,.5);
}
.photo .btn-tertiary:hover, .photo .btn-tertiary:focus,  .file .btn-tertiary:hover, .file .btn-tertiary:focus{
    color: #888888;
    border-color: #888888;
}



/* input file style */

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.input-file + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px 10px;
    cursor: pointer;
}
.input-file + .js-labelFile .icon {
    background: url(../images/icons/upload.svg) center / 100% no-repeat;
    width: 22px;
    height: 17px;
    display: inline-block;
    top: 3px;
    position: relative;
    left: -3px;

}
.input-file + .js-labelFile.has-file .icon {

}





.outer-btn-wrap {
    margin-top: 20px;
}
.left-side {
    overflow-y: hidden;
    height: 100%;
    background: #fff;
}
.scroll-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}
.main-btn {
    border-color: #adadad;
    padding: 7px 3px;
    font-size: 11px;
    line-height: 1.3333333;
    border-radius: 6px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: transparent;
    /*color: #fff;*/
}

.main-btn:active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
/* Назаначить звонок / встречу   */
.set-call-meeting-wrap span {
    color: #fff;
    position: relative;
    top: -9px;
    margin-right: 10px;
    font-size: 13px;
}
.set-call-meeting-wrap button {
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.set-call {
    background-image: url(../images/icons/call-icon.png);

}
.set-call:hover {
    background-image: url(../images/icons/call-icon-hover.png);
}

.set-meeting {
    background-image: url(../images/icons/meet-icon.png);
    margin-left: 10px;

}
.set-meeting:hover {
    background-image: url(../images/icons/meet-icon-hover.png);
}

.notification-wrap {
    margin-top: 10px;
}
.set-event {
    background-color: #ffff99;
    padding: 5px 27px 5px 4px;
    border-radius: 4px;
    position: relative;
    margin-right: 10px;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 5px;
}
.set-event.meet_set {
    background-color: #ffcc66;
}
.set-event .remove {
    position: absolute;
    right: 5px;
    top: 50%;
    width: 16px;
    height: 16px;
    background: url(../images/icons/remove-icon.svg) center / 100% no-repeat;
    display: block;
    cursor: pointer;
    margin-top: -8px;

}




/* Статус Этапа сделки */
 .linked-form__field_status {
    margin-top: 15px;
    z-index: 30;
}
 .linked-form__field {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
 .linked-form__field_status .linked-form__field__value {
    width: 100%;
}
.pipeline-select-view.card-cf-lead-status-select {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 4px;
}
.pipeline-select-view .card-cf-lead-status-select {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.card-cf-lead-status-select {
    cursor: pointer;
}
/* Выпадающий список */
.control--select--list {
    display: none;
    z-index: 200;
    position: relative;
}
.control--select--list--item {
    cursor: pointer;
    position: relative;
    list-style-type: none;
    padding: 8px 6px 7px 0;
    margin: 0 -11px 0 0;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 2;
}
.control--select--list--item-selected .control--select--list--item-inner {
    background: url(../images/icons/checked2.svg) 8px 6px no-repeat;

}
.control--select--list--item-inner {
    position: relative;
    display: block;
    padding-left: 22px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    z-index: 2;
    font-size: 11px;
}
.pipeline-select-view .card-cf-lead-status-select .control--select--list {
    opacity: 0;
}
.pipeline-select-view__status {
    padding: 0 0 6px;
    margin-top: -1px;
    color: #fff;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    display: inline-block;
    min-width: 0;
}
.pipeline-select-view__status_no-pipeline {
    padding-top: 10px;
}
.pipeline-select-view__status>span:first-child {
    font-weight: 700;
    display: inline-block;
    min-width: 0;
    font-size: 14px;
}
.pipeline-select-view__colors {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    bottom: -4px;
}
.pipeline-select-view__colors-block:first-child {
    border-radius: 3px 0 0 3px;
}
.pipeline-select-view__colors-block:last-child {
    border-radius: 0 3px 3px 0;
}
.pipeline-select-view__colors-block {
    height: 4px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    box-sizing: border-box;
    background: #16303b;
}
.pipeline-select-view__icon {
    height: 8px;
    width: 8px;
    position: absolute;
    right: 2px;
    bottom: 16px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Вкладки */
.card-tabs-wrapper {
    background: #203d49;
    margin: 20px 0 13px;
}
.card-tabs {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 22px 0 0;
    height: 29px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.card-tabs-slider {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: #fff;
    z-index: 2;
    -webkit-transition: left .2s ease,width .1s;
    transition: left .2s ease,width .1s;
}
.card-tabs__item {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #62757d;
    font-weight: 700;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding: 0 8px;
    -webkit-transition: color .2s;
    transition: color .2s;
}
.card-tabs__item-inner {
    max-width: 65px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}
.card-tabs__item.selected {
    color: #fff;
}
.card-tabs__item:not(.selected):hover {
    color: rgba(255,255,255,.6);
}


/* Поля анкеты */
.anketa-fields-wrap {
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.photo-wrap img {
    display: block;
    width: 200px;
    height: auto;
}

.anketa-fields .label {
    /*white-space: nowrap;*/
    color: #848c90;
    font-size: 15px;
    overflow-x: hidden;
    display: block;
    vertical-align: top;
     margin-right: 20px;
    box-sizing: border-box;
    position: relative;
}
.anketa-fields .label.disabled {
    opacity: .6;
    height: 32px;
}


.anketa-fields .value {
    display: inline-block;
    font-size: 15px;
    color: #313942;
    position: relative;
}
.anketa-fields .value.disabled {
    color: rgba(49,57,66,.6);
}
.anketa-fields .text-input {
    background: 0 0;
    padding: 0;
    border: 0;
    width: 130px;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    height: 32px;
    border-radius: 0;
}
.anketa-fields .text-input:focus {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #4c8bf7;
    border-radius: 0;
    outline: none;
}

/*.border-top {*/
    /*border-top: 1px solid #e0e0e0;*/
/*}*/
.tc:first-child {
    /*max-width: 200px;*/
    /*width: 200px;*/
    width: 33%;

}
.valign-top {
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 8px;
}
.anketa-fields .radio {
    margin-bottom: 4px;
}
.anketa-fields .lg,.anketa-fields .lg .value, .anketa-fields .lg .value textarea, .anketa-fields .lg .value input {
    width: 100%;
    max-width: 100%;
}

/* Заявление */
.zayavlenie-wrap .tc:first-child {
    width: 50%;
}
.zayavlenie-wrap .checkbox {
    margin-bottom: 10px;
}
.selectize-control.single .selectize-input {
    padding: 2px 4px;
    font-size: 11px;
}


/* Добавить файлы */
.anketa-tab .file .btn-tertiary {
    color: #5c7178;
    border-color: #5c7178;
    margin-left: 0;
}
.file .input-file + .js-labelFile .icon {
    background-image: url(../images/icons/upload2.svg);

}


.uploaded-files {
    margin-top: 20px;
}
.uploaded-files ul {
    padding: 0;
    list-style-type: none;
}
.uploaded-files li {
    margin-bottom: 10px;
}
.uploaded-files a {
    color: #4192e4;
    font-size: 12px;
}

.select {
    display: inline-block;
    width: 250px;
}

.choose-bank {
    border-bottom: 1px solid #e8e7e7;
}
.choose-bank .select {
    margin-bottom: 20px;
}

.choose-bank .old-input {
    top: -8px;
    display: inline-block;
    position: relative;
    border: 1px solid #b8b8b8;
    border-radius: 2px;
    padding: 5px 4px;
    font-size: 11px;
    width: 100px;

}
.choose-bank .btn {
    position: relative;
    top: -10px;
    padding: 4px 14px;
    font-size: 11px;
}
.bank-list {
    margin-top: 20px;
}
.bank-list ul {
    list-style-type: none;
    padding: 0;
}
.bank-list li {
    margin-bottom: 20px;
    position: relative;
}
.bank-list .remove {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../images/icons/remove-icon.svg) center / 100% no-repeat;
    right: 0;
    top: 0;
    cursor: pointer;
}



/* PODBOR */
.right-side {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px 20px 0 5px;
    height: 100%;
}
.right-side .scroll-container {
    overflow-x: scroll;
    overflow-y: scroll;
}
.podbor-wrap {
    padding: 20px;
}
.podbor-wrap .table {
    min-width: 840px;
    overflow: hidden;
    border-radius: 4px;
}
.podbor-wrap .th {
    font-weight: bold;
    padding: 10px;
    min-width: 80px;
    font-size: 13px;
    white-space: nowrap;

}
.podbor-wrap .filter {
    padding-right: 30px;
    cursor: pointer;
}
.podbor-wrap .filter span {
    position: relative;
}
.podbor-wrap .filter span:after {
    content: '';
    position: absolute;
    right: -16px;
    top: 50%;
    width: 10px;
    height: 10px;
    background: url(../images/icons/filter-icon.svg) center / auto 100% no-repeat;
    margin-top: -5px;
}



.podbor-wrap .tc {
    min-width: 80px;
    font-size: 13px;
}
.podbor-wrap .th:first-child, .podbor-wrap .tc:first-child {
    width: 2%;
    min-width: 40px;
}
.podbor-wrap .th:nth-child(2), .podbor-wrap .tc:nth-child(2) {
    min-width: 200px;
}
.podbor-wrap .tr:nth-child(5n), .podbor-wrap .tr:nth-child(5n-1) {

    background: #f6f6f6;
}
.podbor-wrap .tr:nth-child(5n-2), .podbor-wrap .tr:nth-child(5n-3), .podbor-wrap .tr:nth-child(6n) {
    background: #e9e9e9;
}
.podbor-wrap .tr.header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
}
.podbor-wrap .tr.green {
    background: #27ae60;
}
.podbor-wrap .tc {
    padding: 6px 12px;
    font-size: 13px;
}
.podbor-wrap .tc a {
    text-decoration: none;
    color: #2d79c5;
    font-size: 13px;

}
.podbor-wrap .tc span {

}

.podbor-wrap .btn-wrap {
    margin-top: 20px;
}
.podbor-wrap .btn {
    padding: 7px 20px;
    margin-right: 10px;
    color: #333;
}
.podbor-wrap .remove-btn {
    opacity: .3;
    pointer-events: none;
    cursor: not-allowed;
}




/* comments block */
.comments-side {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60px;
    background: #e4e4e4;
    z-index: 100;
    overflow: auto;
    transition: width .3s;
    padding: 0 10px;
}
.comments-side.active {
    width: 265px;
}
.anketa_wrap.comments-open {
    right: 265px;
}
.card-comments__top {
    height: 65px;
    font-size: 24px;
    color: #313942;
    line-height: 45px;
    overflow: hidden;
}
.card-widgets-on-off-top {
    height: 50px;
    position: absolute;
    cursor: pointer;
    width: 50px;
    text-align: center;
    right: 0;
}
.icon-widgets-toggle-state {
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.icon-widgets-toggle-state .add-widget-icon {
    margin-top: 22px;
    fill: #313942;
}
.card-comments__top .card-widgets__top__caption {
    padding: 0 0 0 20px;
    opacity: 0;
    line-height: 65px;
    position: relative;
    z-index: -1;
    font-size: 23px;
}
.active .card-comments__top .card-widgets__top__caption {
    opacity: 1;
}
.widget-main-block {
    opacity: 0;
    transition: opacity .3s;
}
.new-comment {



}
.active .widget-main-block {
    opacity: 1;
}
.new-comment textarea {
    border: none;
    border-radius: 4px;
    width: 100%;
    padding:  10px;
    font-size: 15px;
    height: 150px;
    margin-bottom: 5px;

}
.new-comment .main-btn {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    background: #1d4654;
    border: none;
    color: #fff;
    
}
.comment-item {
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 12px;
}
.comment-item .date {
    color: #333;
    font-size: 12px;
}
.comment-item .author {
    font-style: italic;
    color: #74a3b5;
}